* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  &::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(120, 188, 233);
    z-index: -1;
  }
}

.masterContaienr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  .topContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchContainer {
  margin-top: 10px;
  * {
    margin: 0 10px;
  }
}

ul {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.deleteButton {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  color: white;
  padding: 10px;
  line-height: 1px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin-top: -5px !important;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #f44336;
    transition: 0.2s ease-in-out;
  }
}